<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="eventLevel" converterClass="gg.levely.system.eventbus.logger.EventTypeConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %boldYellow([%logger{36}]) %highlight(%eventLevel(%level)) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>